<!DOCTYPE html>
<html>
<head>
    <title>{{ place.name }}</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>

<div class="container mt-5">

    <h1>{{ place.name }}</h1>

    <p>
        <strong>State:</strong>
        {{ place.state }}
    </p>

    <p>
        {{ place.description }}
    </p>

    <hr>

    <h3>Food Spots 🍜</h3>

    <ul>

        {% for food in place.foodspot_set.all %}

            <li>
                {{ food.name }}
                -
                {{ food.special_food }}
                -
                ₹{{ food.price }}
            </li>

        {% empty %}

            <li>No food spots added.</li>

        {% endfor %}

    </ul>
    <hr>

<hr>

<h3>Reviews ⭐</h3>

{% for review in place.review_set.all %}

<div class="card mb-3">

    <div class="card-body">

        <h5>
           {{ review.user_name }}

{% if review.user_name == "Sharan" %}
    🚶 Traveler
{% endif %}
            ({{ review.rating }}/5)
        </h5>

        <p>
            {{ review.comment }}
        </p>

    </div>

</div>

{% empty %}

<p>No reviews yet.</p>

{% endfor %}

</div>
<hr>

<h3>Add Your Review ⭐</h3>

<form method="POST">
    {% csrf_token %}

    <div class="mb-3">
        <label class="form-label">Your Name</label>
        <input type="text" name="user_name" class="form-control" required>
    </div>

    <div class="mb-3">
        <label class="form-label">Rating (1-5)</label>
        <input type="number" name="rating" min="1" max="5" class="form-control" required>
    </div>

    <div class="mb-3">
        <label class="form-label">Comment</label>
        <textarea name="comment" class="form-control" rows="3" required></textarea>
    </div>

    <button type="submit" class="btn btn-primary">
        Submit Review
    </button>
</form>

</body>
</html>